@font-face {
    font-family: "CenturyGothic";
    src: url(fonts/CenturyGothic.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body,
html {
    overflow-x: hidden;
    background-color: #212121!important;
    font-family: 'Raleway', sans-serif;
    scrollbar-color: #458245 #714826;
    /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: none;
}


/* --------------------------------------------------------- */

::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 6px;
    height: 0px
}

 ::-webkit-scrollbar-track {
    background-color: #32312e;
    box-shadow: 0px 0px 3px #000 inset;
}

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ecb278;
    box-shadow: 0px 1px 1px #fff inset;
    background-image: url('https://yraaa.ru/_pu/24/59610063.png');
    background-position: center;
    background-repeat: no-repeat;
}

 ::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
    height: 0px
}

 ::-webkit-scrollbar {
    width: 11px;
}


/* -------------------------------------------------------- */

header {
    height: 82px;
    background-color: #000;
    display: flex;
    align-items: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.lang,
.main-menu {
    display: flex;
    list-style-type: none;
}

.main-menu li {
    padding: 10px;
}

.main-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
}

.lang li {
    padding: 10px 4px;
}

.lang li a {
    text-decoration: none;
    color: rgb(85, 85, 85);
    padding: 5px 0;
}

.main-menu li a:hover {
    border-bottom: 1px solid #ffa500;
}

.lang li .check {
    border-bottom: 1px solid #ffa500;
    color: white;
}


/* -------------------------------------------------- */

.contentTitle {
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 20px;
}

.aboutMePhotoBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.aboutMePhotoBlock div {
    height: auto;
    width: 345px;
    /* background-color: thistle; */
}

.aboutMePhotoBlock div img {
    width: 345px;
}


/* .m-r-30 {
    margin-right: 30px;
} */

.aboutMeText {
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
}

.aboutMeContacts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 12px 0;
}

.contactAdress {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 8px;
    white-space: nowrap;
}

.contactNumber {
    border-radius: 50px;
    background-color: #edbe90;
    font-size: 36px;
    padding: 0 8px;
    white-space: nowrap;
}

.contactNumber a {
    text-decoration: none;
    color: #000;
    font-family: 'CenturyGothic';
    /* font-weight: 600px; */
    font-weight: bold;
}

.contactSocial {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 164px;
    padding: 0 8px;
}

.contactSocial img {
    width: 30px;
}


/* -------------------------------------------------- */

.photoArea {
    height: 720px;
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 230px 230px 230px;
    justify-content: space-between;
    align-content: space-between;
}

.photoArea img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.photoArea img:hover {
    outline: 2px solid white;
}


/* -------------------------------------------------- */

.servicesArea {
    margin-top: 12px;
    background-color: #181818;
}

.borderBlock {
    padding: 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.price {
    border: 2px solid #353535;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
}

.text-color-yellow p {
    color: #edbe90;
}

.text-color-white p {
    color: white;
}

.price p {
    width: 150px;
    font-size: 24px;
    font-family: 'CenturyGothic';
    font-weight: bold;
}

.tarif {
    padding: 8px;
    color: #7a7a7a;
    white-space: nowrap;
    text-align: center;
    width: 50px;
    background-color: #181818;
    position: relative;
    top: 14px;
    left: 64px;
    font-size: 14px;
}


/* ------------------------------------ */

video {
    padding: 12px;
    width: -webkit-fill-available;
    height: 360px;
}

.param-item {
    /* height: 80px; */
    width: 100px;
    border: 2px solid #828282;
    border-radius: 14px;
    text-align: center;
    color: white;
    padding: 14px 0;
}

.param-value {
    font-size: 28px;
    font-family: 'CenturyGothic';
    font-weight: bold;
}

.param-icon {
    padding-left: 10px;
    width: 30px;
    position: relative;
    background-color: #181818;
    top: 12px;
    left: 32px;
}

.param-icon img {
    width: 20px;
}


/* ----------------------------------------------- */

.servicesList {
    display: flex;
    justify-content: space-around;
    padding: 20px 12px;
}

.servListCol {
    color: white;
    font-family: 'CenturyGothic';
}

.servListCol li {
    margin-left: 40px;
    margin-top: 15px;
}

.yellowCheck ul {
    list-style-image: url(assets/foursquare-check-in-yellow.svg);
}

.greenCheck ul {
    list-style-image: url(assets/foursquare-check-in-green.svg);
}


/* ------------------------------------------------- */

.alertaYellow li {
    color: white;
    list-style: none;
    background: url(assets/peligroYellow.svg) no-repeat 0 4px;
    padding-left: 20px;
    padding-top: 4px;
}

.alertaRed li {
    color: white;
    list-style: none;
    background: url(assets/peligroRed.svg) no-repeat 0 4px;
    padding-left: 20px;
    padding-top: 4px;
}

.otherInfo {
    padding: 12px 12px 50px;
}

.otherInfoContacts {
    display: flex;
    align-items: center;
    padding: 16px;
}

.otherInfoContacts a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-family: 'CenturyGothic';
    font-weight: bold;
}


/* -------------------------------------------------- */

footer {
    background-color: #000;
    height: 145px;
    padding: 12px;
}

.footerContent ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.footerContent li {
    padding: 25px;
}

.footerContent li a {
    text-decoration: none;
    color: white;
}

.footerContent p {
    text-align: center;
    color: #757575;
    line-height: 26px;
}