* {
    padding: 0;
    margin: 0;
}

body,
html {
    overflow-x: hidden;
    background-color: #212121;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 82px;
    background-color: #000;
    display: flex;
    align-items: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.lang,
.main-menu {
    display: flex;
    list-style-type: none;
}

.main-menu li {
    padding: 10px;
}

.main-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
}

.lang li {
    padding: 10px 4px;
}

.lang li a {
    text-decoration: none;
    color: rgb(85, 85, 85);
    padding: 5px 0;
}

.main-menu li a:hover {
    border-bottom: 1px solid #ffa500;
}

.lang li .check {
    border-bottom: 1px solid #ffa500;
    color: white;
}


/* -------------------------------------------------- */

.contentTitle {
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 20px;
}

.aboutMePhotoBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.aboutMePhotoBlock div {
    height: 234px;
    width: 50%;
    background-color: thistle;
    margin: 0 15px;
}

.aboutMeText {
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
}

.aboutMeContacts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 12px 0;
}

.contactAdress {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 8px;
    white-space: nowrap;
}

.contactNumber {
    border-radius: 50px;
    background-color: #edbe90;
    font-size: 36px;
    padding: 0 8px;
    white-space: nowrap;
}

.contactNumber a {
    text-decoration: none;
    color: #000;
}

.contactSocial {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 164px;
    padding: 0 8px;
}

.contactSocial img {
    width: 35px;
}


/* -------------------------------------------------- */

.photoArea {
    height: 530px;
    background-color: thistle;
}


/* -------------------------------------------------- */

.servicesArea {
    margin-top: 12px;
    padding: 0 12px;
    background-color: #181818;
}

.borderBlock {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 12px;
}

.price {
    border: 2px solid #353535;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
}

.price:hover p {
    color: #edbe90;
}

.price p {
    width: 150px;
    color: white;
    font-size: 18px;
}

.tarif {
    padding: 8px;
    color: #7a7a7a;
    white-space: nowrap;
    text-align: center;
    width: 50px;
    background-color: #181818;
    position: relative;
    top: 14px;
    left: 64px;
    font-size: 14px;
}


/* ------------------------------------ */

.param-item {
    /* height: 80px; */
    width: 100px;
    border: 2px solid #828282;
    border-radius: 14px;
    text-align: center;
    color: white;
    padding: 14px 0;
}

.param-value {
    font-size: 28px;
}

.param-icon {
    padding-left: 10px;
    width: 40px;
    position: relative;
    background-color: #181818;
    top: 18px;
    left: 28px;
}

.param-icon img {
    width: 30px;
}


/* ----------------------------------------------- */

.servicesList {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.servListCol {
    color: white;
}

.servListCol li {
    margin-left: 40px;
    margin-top: 15px;
}

.yellowCheck ul {
    list-style-image: url(assets/foursquare-check-in-yellow.svg);
}

.greenCheck ul {
    list-style-image: url(assets/foursquare-check-in-green.svg);
}


/* ------------------------------------------------- */

.alertaYellow li {
    color: white;
    list-style: none;
    background: url(assets/peligroYellow.svg) no-repeat 0 4px;
    padding-left: 20px;
    padding-top: 4px;
}

.alertaRed li {
    color: white;
    list-style: none;
    background: url(assets/peligroRed.svg) no-repeat 0 4px;
    padding-left: 20px;
    padding-top: 4px;
}

.otherInfoContacts {
    display: flex;
    align-items: center;
    padding: 16px;
}

.otherInfoContacts a {
    color: white;
    text-decoration: none;
    font-size: 28px;
}